<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <script type='text/javascript' src='x3dom.js'> </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'> </script>
    <link rel='stylesheet' type='text/css' href='x3dom.css'></link>


    <title>X3D Editor</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/scrolling-nav.css" rel="stylesheet">
    <style>
      .content {
        margin: 2rem 0 0 0;
        padding: 1rem;
      }
      .title {
        font-family: 'Josefin Sans', sans-serif;
        margin: 3rem 0 0 4rem;
        font-weight: 100;
      }
      .footer {
        font-family: 'Josefin Sans', sans-serif;
        position: fixed;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
      }
      a {
        text-decoration-style: none;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
      }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body>
  <h2 class="title">
    VRML Viewer
  </h2>
  <div class="content">
    <div class="textareaMCE">
      <textarea id="tinytextarea"></textarea>
    </div>
    <div class="x3dSpace">
      <x3d id="x3dElement">
         <scene>
         </scene>
      </x3d>
    </div>
  </div>
  <div class="footer">
    <p><center>Made with ♥ in Brasília, Brazil by <a href="http://teomoura.com">@teomoura</a> and <a href="http://gbayomi.me/">@gbayomi</a></center></p>
  </div>
    <input type="file" id="filePicker" style="display:none">


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Text Editor imports -->
    <script src="js/tinymce.min.js"></script>
    <script src="js/plugins/vrml/plugin.js"></script>
    <script src="js/plugins/customSave/plugin.js"></script>
    <script>
    function mountInstructions() {
      let instructions = '#VRML V2.0 utf8<br />'
      instructions += '#Example VRML 2.0 file for teaching basic concepts of color and 3D primitive shapes. <br />'
      instructions += '#To run the demo just click on the Go! button above.<br/>'
      instructions += '#The shape will take a while to render due to Heroku\'s dyno policies.<br/>'
      instructions += '#Sample 3D shape code by Theresa-Marie Rhyne <br />'
      instructions += '# A Cylinder <br/>'
      instructions += 'Shape { <br/>'
      instructions += '&nbsp; appearance Appearance { <br/>'
      instructions += '&nbsp;&nbsp; material Material { <br/>'
      instructions += '&nbsp;&nbsp;&nbsp; diffuseColor 0.75 0.5 1.0 <br/>'
      instructions += '&nbsp;&nbsp;&nbsp; specularColor 0.7 0.7 0.8 <br/>'
      instructions += '&nbsp;&nbsp;&nbsp; shininess 0.1 <br/>'
      instructions += '&nbsp;&nbsp; } <br/>'
      instructions += '&nbsp; } <br/>'
      instructions += '&nbsp; geometry Cylinder { <br/>'
      instructions += '&nbsp;&nbsp; height 0.2 <br/>'
      instructions += '&nbsp;&nbsp; radius 3. <br/>'
      instructions += '&nbsp; } <br/>'
      instructions += '} <br/>'
      instructions += 'Shape { <br/>'
      instructions += '&nbsp; appearance Appearance { <br/>'
      instructions += '&nbsp;&nbsp; material Material { <br/>'
      instructions += '&nbsp;&nbsp;&nbsp; diffuseColor 0.2 0.5 0.75 <br/>'
      instructions += '&nbsp;&nbsp;&nbsp; transparency 0.0 <br/>'
      instructions += '&nbsp;&nbsp; } <br/>'
      instructions += '&nbsp; } <br/>'
      instructions += 'geometry Sphere { <br/>'
      instructions += '&nbsp; radius 1.0 <br/>'
      instructions += '&nbsp; } <br/>'
      instructions += '} <br/>'
      return instructions
    }
    tinymce.init({
      selector:'#tinytextarea',
      plugins: 'customSave vrml',
      toolbar: 'saver loader go shape cone sphere box cylinder Appearance Material',
      menu: {
        file: {title: 'File', items: 'newdocument | print'},
        edit: {title: 'Edit', items: 'undo redo | cut copy paste pastetext | selectall'},
        insert: {title: 'Insert', items: 'link media | template hr'},
        view: false,
        format: false,
        table: {title: 'Table', items: 'inserttable tableprops deletetable | cell row column'},
        tools: false
      },
      force_p_newlines : false,
      force_br_newlines : true,
      convert_newlines_to_brs : false,
      remove_linebreaks : true,
      // init_instance_callback:function(editor){
      //    editor.setContent("  ");
      //  },
      setup: function (editor) {
              editor.on('init', function () {
                  let result = mountInstructions()
                  editor.setContent(result);
                  tinymce.triggerSave();
              })
           },
      forced_root_block: ''
    });

    function myCustomExecCommandHandler(editor_id, elm, command, user_interface, value) {
      console.log('callback');
      var linkElm, imageElm, inst;
      switch (command) {
              case "mceNewDocument":
                console.log('hehh');
                return true;
      }
      return false; // Pass to next handler in chain
    }

    /*
    setup: function(ed){
        ed.editorCommands.

        /*onExecCommand.add(function(ed, cmd, ui, val) {
            if(cmd == "mceNewDocument") {
                console.log('hey');
            }
        })
      },
    */

    </script>

    <!-- Scrolling Nav JavaScript -->
    <script src="functions/sceneManager.js"></script>

</body>

</html>
